<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="~/resources/Index.css" />
        <title>HN - TP LOCAL</title>
    </head>

    <body>
        @Html.Partial("_Header")
        @Html.Partial("_Navigation")

        <section>
            <p>
                <a href="/Home/Index/Form">Fill out form </a>
            </p>
        </section>
    </body>

</html>
